
/*------Edit Movie Card-------*/
#edit-card{
   width: 20%;

}
/*#formPopulate{*/
/*    display: none;*/
/*}*/
.visibleForm{
    display: none;
}






/****** Loading Spinner ******/
@keyframes ldio-ia4ci0plxur {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}
.ldio-ia4ci0plxur > div > div {
    position: absolute;
    border-radius: 50%;
}
.ldio-ia4ci0plxur > div > div:nth-child(1) {
    top: 30px;
    left: 30px;
    width: 140px;
    height: 140px;
    background: #e90c59;
}
.ldio-ia4ci0plxur > div > div:nth-child(2) {
    top: 39.800000000000004px;
    left: 79px;
    width: 42px;
    height: 42px;
    background: #46dff0;
    animation: ldio-ia4ci0plxur 1s linear infinite;
    transform-origin: 21px 60.199999999999996px;
}
.loadingio-spinner-disk-aelrsmpdxbf {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}
.ldio-ia4ci0plxur {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-ia4ci0plxur div { box-sizing: content-box; }